
<div class = "">
  <h1> New Application form </h1>
</div>
<div id = "stage">
  <div id = "moveLayer">

    <div id="0" class="applicationForm">
      <div class = "applicationQuestion"> Lorem ipsum </div>
      <div class = "applicationTextField"> <textarea> Lorem ipsum </textarea> </div>
    </div>
    <div id="1" class="applicationForm">
      <div class = "applicationQuestion"> Lorem ipsum </div>
      <div class = "applicationTextField"> <textarea> Lorem ipsum </textarea> </div>
    </div>
    <div id="2" class="applicationForm">
      <div class = "applicationQuestion"> Lorem ipsum </div>
      <div class = "applicationTextField"> <textarea> Lorem ipsum </textarea> </div>
    </div>
    <div id="3" class="applicationForm">
      <div class = "applicationQuestion"> Lorem ipsum </div>
      <div class = "applicationTextField"> <textarea> Lorem ipsum </textarea> </div>
    </div>
    <div id="4" class="applicationForm">
      <div class = "applicationQuestion"> Lorem ipsum </div>
      <div class = "applicationTextField"> <textarea> Lorem ipsum </textarea> </div>
    </div>

  </div>
  <div id = "buttonLayer">
    <input class="nextField" type="button" value="Next"/>
    <input class="prevField" type="button" value="Prev"/>
  </div>
</div>
