
<h1> New Application form </h1>
<div class="stage">
  <div id="0" class="field">
    Div 1
    <input class="nextField" type="button" value="Next" />
    <input class="prevField" type="button" value="Prev" />
  </div>
  <div id="1" class="field">
    Div 2
    <input class="nextField" type="button" value="Next" />
    <input class="prevField" type="button" value="Prev" />
  </div>
  <div id="2" class="field">
    Div 4
    <input class="nextField" type="button" value="Next" />
    <input class="prevField" type="button" value="Prev" />
  </div>
  <div id="3" class="field">
    Div 4
    <input class="nextField" type="button" value="Next" />
    <input class="prevField" type="button" value="Prev" />
  </div>
  <div id="4" class="field">
    Div 5 
    <input class="nextField" type="button" value="Next" />
    <input class="prevField" type="button" value="Prev" />
  </div>
</div>

